@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
.nav-bar {
  height: 7%;
  background-color: rgba(14,12,10,0.7);
  /* background-color: #0E0C0A; */
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page {
  padding-top: 6%;
  height: 100%;
  background-image: url('/images/home2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #97B5D6;
  font-weight: 800;
}


