<h2>Create a new drone</h2>
<form action="/drones/create" method="post">
    <label for="name">Drone name:</label>
    <input type="text" name="name" placeholder="Hawk 3000">
    <label for="propellers">Number of propellers:</label>
    <input type="number" name="propellers" placeholder="4">
    <label for="maxSpeed">Maximum speed:</label>
    <input type="number" name="maxSpeed" placeholder="200">
    <button type="submit">Create</button>
</form>