<div class="forms page">
    <h2>Update the drone</h2>
    <form action="/drones/{{this._id}}/edit" method="post">
        <label for="name">Drone name:</label>
        <input type="text" name="name" value="{{this.name}}">
        <label for="propellers">Number of propellers:</label>
        <input type="number" name="propellers" value="{{this.propellers}}">
        <label for="maxSpeed">Maximum speed:</label>
        <input type="number" name="maxSpeed" value="{{this.maxSpeed}}">
        <button type="submit">Edit</button>
    </form>
</div>
